*,
*::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

/* colour Palette */
:root {
--background: hsl(0, 0%, 11%);
--link: hsl(203, 92%, 75%);
--link-hover: hsl(51, 100%, 50%);
--accent: hsl(255, 20%, 47%);
--card-hold: hsl(158, 45%, 45%);
--time-v1: hsl(11, 30%, 37%);
--arcane: hsl(32, 96%, 51%);
--h1: hsl(0, 0%, 95%);
--h2: hsl(0, 0%, 78%);
--text: hsl(0, 0%, 65%);
--bold: hsl(330, 100%, 98%);
--aPage: hsl(303, 83%, 70%);
}

body {
  background-color: var(--background);
  flex-direction: column;
  font-weight: 300;
}

html {
  background-color: var(--background);
  text-decoration: none;
}

:link {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

:visited {
  color: var(--link);
}

header {
  display: flex;
  padding-inline: 0.25em;
  height: 75px;
  background-image: linear-gradient(to bottom, var(--accent), var(--background) 90%);
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 125px;
}

.gold-box {
  background-image: linear-gradient(
    to top,
    rgba(253, 215, 0, 1),
    rgba(253, 215, 0, 0.5)
  );
  border-radius: 8px;
  color: var(--background);
  font-weight: bold;
  font-size: x-large;
  padding-inline: 0.25em;
  margin: 0.25em;
  filter: drop-shadow(0 0 0.5rem var(--link-hover));
}

.name {
  color: var(--bold);
  font-weight: bold;
  font-size: x-large;
  margin: 0.25em;
}

.white-box {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 245, 243, 1),
    rgba(255, 245, 243, 0.3)
  );
  border-radius: 8px;
  color: var(--background);
  font-weight: bold;
  font-size: x-large;
  padding-inline: 0.25em;
  margin: 0.25em;
}

main {
  background-color: var(--background);
  color: var(--text);
  padding-top: 1em;
}

.main-grid {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 5fr;
  margin: 0.25em;
  gap: 0.5em;
}

.main-sub {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
  padding: 0.25em;

  /*border: 1px solid greenyellow;*/
}

.frame-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.25em;
  margin-inline: 0.25em;

  /*border: 1px solid yellow;*/
}

.frame-grid-sub {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /*border: 1px solid red;*/
}

.button {
  display: flex;
  width: 100%;
  background-color: var(--accent);
  border-radius: 8px;
  border: 0;
  color: var(--h1);
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 0.2em;
  padding: 0.25em;
  transition-duration: 0.3s;
  gap: 1em;
}

.button-active {
  display: flex;
  width: 100%;
  background-color: var(--aPage);
  border-radius: 8px;
  border: 0;
  color: var(--background);
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 0.2em;
  padding: 0.25em;
  gap: 1em;
}

.button:hover {
  background-color: var(--card-hold);
  font-weight: 400;
  color: var(--background);
}

.card-bg {
  background-color: var(--card-hold);
  border-radius: 8px;
  font-size: 1em;
  color: var(--background);
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.card-bg-2 {
  border-radius: 8px;
  border: 1px solid var(--h1);
  font-size: 1em;
  color: var(--h1);
  padding-inline: 1em;
}

.card-1 {
  background-color: var(--time-v1);
  color: var(--h1);
  border-radius: 8px;
  margin: 0.5em;
  text-align: center;
  font-weight: normal;
  font-size: 0.9em;
  padding: 0.2em;
}

.card-2 {
  background-color: var(--accent);
  color: var(--h1);
  border-radius: 8px;
  margin: 0.5em;
  text-align: center;
  font-weight: normal;
  font-size: 0.9em;
  padding: 0.2em;
}

.card-head-1 {
  background-color: var(--h1);
  color: var(--background);
  border-radius: 8px;
  text-align: center;
  font-weight: normal;
  padding-inline: 1em;
}

h1 {
  color: var(--h1);
  text-align: center;
  font-weight: 600;
}

.note {
  background-color: var(--background);
  color: var(--text);
  border-radius: 8px;
  padding: 0.5em;
  border: 2px solid var(--arcane);
  font-style: italic;
  grid-column: span 5;
}

img {
  width: 1em;
}

h2 {
  color: var(--h2);
  text-align: center;
  font-weight: 400;
}

#container {
  display: flex;
  flex-direction: column;
}

#container .contents {
  overflow: auto;
  width: 100%;
}

#container table th {
  text-align: left;
}

#container .right {
  text-align: right;
}

#container .left {
  text-align: left;
}

#container .center {
  text-align: center;
}

footer {
  color: var(--text);
  padding-top: 1em;
}

.disclaimer {
  text-align: center;
}

.card-base {
  display: grid;
  background-color: var(--background);
  gap: 0.25em;
}

.frame {
  grid-column: 1 / span 2;
  background-image: radial-gradient(var(--card-hold), var(--background) 75%);
}

.card-3 {
  background-color: var(--arcane);
  color: var(--background);
  border-radius: 8px;
  margin: 0.5em;
  text-align: center;
  font-weight: normal;
  font-size: 0.9em;
  padding-top: 0.2em;
  padding-inline: 0.2em;
  filter: drop-shadow(7px 7px 4px rgba(50, 50, 50));
}

.card-4 {
  border: 1px solid var(--arcane);
  background-color: var(--background);
  color: var(--h1);
  border-radius: 8px;
  margin: 0.5em;
  text-align: center;
  font-weight: 300;
  font-size: 0.9em;
  padding-top: 0.2em;
  padding-inline: 0.2em;
  filter: drop-shadow(7px 7px 4px rgba(50, 50, 50));
}

.card-head-2 {
  background-color: var(--time-v1);
  color: var(--h1);
  border-radius: 8px;
  text-align: center;
  font-weight: normal;
}

.teach {
  display: flex;
  width: 100%;
  justify-content: center;
}

.teach img {
  width: 400px;
}

.recolour {
  filter: invert(91%) sepia(95%) saturate(343%) hue-rotate(215deg)
    brightness(109%) contrast(105%);
}

.reskin {
  filter: invert(91%) sepia(13%) saturate(1572%) hue-rotate(57deg) brightness(102%) contrast(86%);
}

.arsenal {
  align-content: end;
  border-radius: 8px;
  justify-items: center;
  text-align: center;
  background-image: linear-gradient(var(--background) 55%, var(--accent));
  cursor: pointer;
  color: var(--background);

  /*border: 1px solid yellow;*/
}

.arsenal img {
  width: 150px;
  max-width: 100%;
  height: auto;

  /*border: 1px solid blue;*/
}

.arsenal:hover {
  color: var(--bold);
  font-weight: 400;
  background-image: linear-gradient(var(--background) 55%, var(--card-hold));
}

.note-build {
  background-color: var(--card-hold);
  border-radius: 8px;
  color: var(--background);
  text-align: center;
  align-content: center;
  font-weight: 350;
  height: fit-content;
  margin-inline: 0.25em;
  padding: 0.25em;
}

.progress {
  position: relative;
  width: 100%;
  height: 1.5em;
  border-radius: 1.5em;
  color: var(--link-hover);
}

.progress::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0.25em;
  top: 0.25em;
  bottom: 0.25em;
  width: calc(var(--width, 0) * 1%);
  min-width: 0.5rem;
  max-width: calc(100% - 0.05em);
  background-color: var(--accent);
  border-radius: 0.5em;
  padding: 0.5em;
}

.semiCircle {
  border-radius: 10rem 10rem 0 0;
  border: 2px solid var(--link-hover);
  width: 100px;
  height: 50px;
  background-image: conic-gradient(from 10deg at 50% 100%, #1c1c1c 180deg, #f3f3f3 180deg);
  filter: drop-shadow(0 0 0.5rem var(--link-hover));
}

#Update,
#WF-prime,
#Resurgence,
#IGE1,
#IGE2,
#Nightwave,
#Devshort,
#WF-int,
#PrimeTime,
#Devstream {
  color: var(--link-hover);
  font-weight: 400;
}

/* Experimental */

.Head {
  background-color: var(--accent);
  padding-inline: .5em;
  margin-inline: .5em;
  border-radius: 8px 8px 0px 0px;
}

.Head h2{
  color: black;
  text-align: left;
}

.timerBar {
  display: grid;
  padding: .5em;
  margin-inline: .5em;
  background-color: black;
  border-radius: 0px 0px 8px 8px;
}

.Builds {
  background-color: var(--card-hold);
  padding-inline: .5em;
  margin-inline: .5em;
  border-radius: 8px 8px 0px 0px;
}

.Builds h2{
  color: #f3f3f3;
  text-align: left;
}

.buildBar {
  display: grid;
  padding: .5em;
  margin-inline: .5em;
  background-color: black;
  border-radius: 0px 0px 8px 8px;
  grid-template-columns: repeat(5, 1fr);
}

#eq {
  display: grid;
  border: solid white 1px;
}

.buildBar1 {
  display: grid;
  padding: .5em;
  margin-inline: .5em;
  background-color: black;
  border-radius: 0px 0px 8px 8px;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em
}