*,
*::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

/* colour Palette */
:root {
  --background: hsl(0, 0%, 11%);
  --text: hsl(0, 0%, 65%);
  --bold: hsl(330, 100%, 98%);

  /* Link behaviour */
  --link: hsl(203, 92%, 75%);
  --link-hover: hsl(51, 100%, 50%);
  --link-visited: hsl(0, 0%, 65%);

  /* Countdown Colours */
  --main: hsl(51, 100%, 50%);
  --other: hsl(198, 59%, 32%);

  /* Head Banners */
  --primary: hsl(255, 20%, 47%);
  --secondary: hsl(158, 45%, 45%);

  /* Information */
  --content: hsl(0, 0%, 0%);
  --note: hsl(0, 100%, 39%);
}

#Update,
#IGE1,
#IGE2,
#DevShort,
#eTenno,
#primeTime,
#Devstream {
  color: var(--main);
  font-weight: 400;
}

#Resurgence,
#TennoCon {
  color: var(--other);
  font-weight: 400;
}

body {
  background-color: var(--background);
  flex-direction: column;
  font-weight: 300;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  background-color: var(--background);
  text-decoration: none;
}

:link {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

:visited {
  color: var(--link-visited);
}

header {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 0.25em;
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    var(--primary),
    var(--background) 90%
  );
  justify-content: space-between;
  align-items: center;
}

.headL {
  display: grid;
  gap: .25em;
  justify-items: center;
  align-items: center;
}

#semiCircle {
  border-radius: 10em 10em 0 0;
  border: 2px solid var(--link-hover);
  width: 75px;
  height: 38px;
  background-image: conic-gradient(
    from 10deg at 50% 100%,
    var(--content) 180deg,
    var(--bold) 180deg
  );
  grid-column-start: 1;
  grid-column-end: 3;
}

#gold-box {
  background-image: linear-gradient(
    to top,
    hsl(51, 100%, 50%),
    hsl(50, 100%, 49%)
  );
  border-radius: 8px;
  color: var(--background);
  font-weight: bold;
  font-size: large;
  padding-inline: 0.25em;
  filter: drop-shadow(0 0 0.5em var(--link-hover));
  text-align: center;
}

#name {
  color: var(--bold);
  font-weight: bold;
  font-size: x-large;
}

.headR {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .25em;
  padding: .25em;
}

.headR img {
  height: 40px;
}

main {
  background-color: var(--background);
  color: var(--text);
  padding-top: 1em;
}

.Head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--primary);
  padding-inline: 0.5em;
  margin-inline: 0.5em;
  border-radius: 8px 8px 0px 0px;
  align-items: center;
}

.Head h2 {
  color: var(--content);
  text-align: left;
}

.subHead {
  text-align: right;
  font-size: small;
  color: var(--bold);
}

.updateBar {
  display: grid;
  padding: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--content);
  grid-template-columns: repeat(2, 1fr);
}

#pleaseNote {
  display: grid;
  padding-inline: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--bold);
  color: var(--note);
  font-weight: 400;
  font-style: italic;
  font-size: smaller;
  border-radius: 0px 0px 8px 8px;
  height: 20px;
  align-items: center;
  text-align: center;
}

.teach {
  display: grid;
  width: 100%;
  justify-content: center;
}

.teach img {
  width: 400px;
}

.textTenno {
  display: grid;
  padding: 0.5em;
  margin-inline: 0.5em;
  border-radius: 8px;
  gap: 0.5em;
}

.textTenno img {
  width: 300px;
}

.recolour {
  filter: invert(91%) sepia(95%) saturate(343%) hue-rotate(215deg)
    brightness(109%) contrast(105%);
}

.Builds {
  background-color: var(--secondary);
  padding-inline: 0.5em;
  margin-inline: 0.5em;
  border-radius: 8px 8px 0px 0px;
  align-items: center;
  text-align: center;
  color: var(--background);
}

.Builds h2 {
  color: var(--content);
  text-align: center;
}

.buildBar1 {
  display: grid;
  padding: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--content);
  border-radius: 0px 0px 8px 0px;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
}

.buildBar-def {
  display: grid;
  padding: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--content);
  border-radius: 8px;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
}

.arsenal {
  align-content: end;
  border-radius: 8px;
  justify-items: center;
  text-align: center;
  background-image: linear-gradient(var(--background) 55%, var(--primary));
  cursor: pointer;
  color: var(--content);
  font-weight: 300;
}

.arsenal img {
  width: 150px;
  max-width: 100%;
  height: auto;
}

.arsenal:hover {
  color: var(--bold);
  font-weight: 600;
  background-image: linear-gradient(var(--background) 55%, var(--secondary));
}

.progress {
  position: relative;
  width: 100%;
  height: 1.5em;
  border-radius: 1.5em;
  color: var(--other);
  font-weight: 400;
}

.progress::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0.25em;
  width: calc(var(--width, 0) * 1%);
  min-width: 0.5em;
  max-width: calc(100% - 0.05em);
  background-color: var(--bold);
  border-radius: 0px 8px 8px 8px;
  border-right: solid var(--link-hover);
  padding: 0.5em;
  margin-inline: 0.5em;
  height: 20px;
}

.corner {
  display: flex;
  --s: 30px;
  border: 3px solid var(--secondary);
  border-radius: 8px;
  padding: 0.5em;
  margin-inline: 0.5em;
  background: var(--content) content-box;
  mask:
    conic-gradient(var(--content) 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, var(--content) 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s));
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  text-align: left;
  padding: 0.5em;
  color: var(--bold);
}

.content h2 {
  text-decoration: underline;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

#priority {
  margin-top: .5em;
  margin-bottom: .5em;
}

#priority h3 {
  color: var(--secondary);
}

ul li {
  margin-inline: 1.5em;
}

.listParent {
  color: var(--link-hover);
}

.listChild {
  color: var(--text);
}

.buildBar2 {
  display: grid;
  padding: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--content);
  grid-template-columns: 1fr 3fr;
}

.buildBar3 {
  display: grid;
  padding-inline: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--bold);
  color: var(--other);
  border-radius: 0px 0px 8px 8px;
  font-weight: 500;
}

.timerBar {
  display: grid;
  padding: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--content);
}

footer {
  color: var(--text);
  padding-top: 1em;
}

.disclaimer {
  text-align: center;
}

.modWarframe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--content);
  gap: 0.5em;
}

.modCard {
  border: solid 1px var(--bold);
  border-radius: 12px;
}

#modCard-head {
  background: var(--bold);
  color: var(--content);
  border-radius: 8px 8px 0px 0px;
}

#modCard-body {
  padding: 0.5em;
}

.arcaneCard {
  border: solid 1px var(--link-hover);
  border-radius: 12px;
}

#arcaneCard-head {
  background: var(--link-hover);
  color: #1c1c1c;
  border-radius: 8px 8px 0px 0px;
}

.ofNote {
  display: grid;
  padding-inline: 0.5em;
  margin-inline: 0.5em;
  background-color: var(--secondary);
  color: #1c1c1c;
  border-radius: 0px 0px 8px 8px;
  font-weight: 500;
}
